<strong>The Gratest Lottery | Password Recovery</strong>

<p>A password recovery was requested to ({{ email }}).</p>
<p>
    This recovery password link expires in 2 hours.
    To recover your password click the link below.
</p>

<a href="{{ link }}">Set new password</a>