.Container {
    text-align: center;
}

.Title {
    text-align: center;
    font: italic normal bold 65px/70px 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.ButtonTitle {
    margin-top: 35px;
    width: 144px;
    height: 39px;
    background: #B5C401 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    color: #fff;
    font-weight: bold;
    cursor: default;
}

.Span {
    margin-top: 35px;
    width: 380px;
    height: 99px;
    text-align: center;
    font: italic normal bold 83px/85px 'Helvetica Neue', Arial, sans-serif;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
    display: block;
}

@media (max-width: 465px) {
    .Container {
        margin-top: 15px;
    }

    .Title {
        font-size: 45px;
    }

    .ButtonTitle {
        width: 115px;
        height: 30px;
    }

    .Span {
        font-size: 60px;
    }
}